*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

:root{
  --background: #E5E5E5;
  --white: #ffffff;
  --gray: #DADDDF;
  --gray-icons: #7E8B94;
  --gray-text: #536471;
  --text: #0F1419;
}

.dflex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
}

.container-content{
  width: 1440px;
  height: 356px;
  background-color: var(--white);
  /* background-color: var(--white); */
}

.content{
  border: 1px solid var(--gray);
  width: 591px;
  height: 161px;
  display: flex;
}

.image-logo{
  width: 48px;
  margin-top: 17px;
  margin-left: 17px;
}

.right{
  margin-top: 17px;
  margin-left: 12px;
}

.text-gray{
  color: var(--gray-text);
}

.dot{
  width: 3px;
  height: 3px;
  margin-bottom: 3.1px;
  display: inline-block;
  background-color: var(--gray-text);
  border-radius: 50%;
}

.text{
color: var(--text);
width: 430px;
margin-top: 5px;
font-weight: lighter;
font-size: 15px;
}

.text-join-container{
  margin-top: 10px;
}

.text-join {
  color: var(--text);
}

.icons{
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  color: var(--gray-text);
}

.icons span{
  padding-left: 17px;
}